.DS_STORE
node_modules
__pycache__
test/results/*.xml
*~
*.pyc
_SpecRunner.html
coverage/
.module-cache
*.log*
chrome-user-data
*.sublime-project
*.sublime-workspace
.idea
.vscode
.env*
dist/
node_modules/
.secret-*
.aws-sam
